<strong>Olá, {{deliveryman}}</strong> <br />

<strong>Houve um cancelamento de encomenda.</strong>

<p>Confira os detalhes abaixo:</p>

<p>
  <strong>Produto:</strong> {{product}} <br />
  <strong>Destinatário:</strong> {{recipient}} <br /> <br />
  <strong>Endereço:</strong> <br />
  <p>
    <strong>Rua: </strong> {{street}} <br />
    <strong>Número: </strong> {{number}} <br />
    <strong>Complemento: </strong> {{complement}} <br />
    <strong>Cidade: </strong> {{city}} <br />
    <strong>Estado: </strong> {{state}} <br />
    <strong>CEP: </strong> {{zip_code}} <br />
  </p>
  <br />
  Agora não é necessário realizar a entrega.
</p>
